.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headermenu {
    column-gap: 150px;
    list-style-type: none;
    display: flex;
    text-underline-offset: none;
    align-items: center;
    margin-bottom: 0;
}
.menu{
    text-decoration: none;
    color: black;
    
}
.Username{
border-radius: 10px;
background-color: #48aff3;
color: white;
border: none;
}
.revitalize{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.bannerimg{
    height: 320px;
    width: 450px;
    padding-right: 65px;
    padding-top: 30px;
    
}
.service-button{
    border-radius: 10px;
    background-color: #48aff3;
    color: white;
    border: none;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 30px;


}
.box {
    display: flex!important;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
    background-color: #48aff3;
    padding: 27px;
    text-transform: capitalize;
    color: white;
}
.left-span{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}
.leftbutton{
    border-radius: 10px;
    border: none;
    background-color: #48aff3;
    padding: 5px 10px;
    text-transform: capitalize;
    color: white;
}
.addbutton {
    padding: 5px 23px;
}
.added-items {
    display: flex;
    justify-content: space-between;
}
.rightservice{
    display: flex;
    justify-content: space-between;
}
span.card-span {
    padding-left: 50px;
}
.price {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}
.footer-box {
    display: grid;
    row-gap: 23px;
    /* margin-bottom: 5px; */
}
.Subscribe {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    background-color: #48aff3;
    align-items: center;
}
.footer-top.d-flex.gap-5.text-capitalize.text-center {
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    
    
}
.Navbar-span{
    color: #48aff3;
}
.book-now {
    background-color: #48aff3;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}
.rightnow {
    column-gap: 30px;
}
.price {
    padding-left: 20px;
}